node_modules/
packages/**/lib
**/spec/build
.DS_Store

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

# Environment variables
packages/server/.env
packages/frontend/.env
whiteboard/packages/frontend/ngrok.yml
.env