.ContainerToast {
	position: fixed;
	left: 2rem;
	bottom: 2rem;
	width: 100%;
	max-width: 25vw;
}

.Toast {
	background-color: orange;
	border-radius: 2rem 0;
	padding: 0 0 0 2rem;
	box-shadow: 10px 5px 20px 0px #cccccc;
	font-family: "Amatic SC", cursive;
	font-size: 1.5rem;
	box-sizing: border-box;
	position: relative;
	display: flex;
	margin-bottom: 0.5rem;

	p {
		margin: 0.5rem 0;
	}
}
