.client__image {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	margin: auto;
	position: fixed;
	display: flex;
	justify-content: center;
	opacity: 70%;

	img {
		width: auto;
		height: 100%;
		align-self: center;
	}
}

.selected {
	display: block;
}

.unselected {
	display: none;
}

.h1 {
	font-family: "Amatic SC", cursive;
	text-align: left;
	font-size: 6rem;
	padding: 1rem;
	margin: auto;
	font-weight: normal;
}

.claim {
	transform: translateX(-50%) translateY(-50%) rotate(270deg);
	font-size: 3rem;
	color: black;
	text-align: center;
	position: fixed;
	top: 50vh;
	left: 3rem;
	font-family: "Amatic SC", cursive;
	z-index: 10000;
}

body {
	padding: 0;
	margin: 0;
}
